{% extends 'base.html' %}

{% block styles %}
{{block.super}}
{% load static%}
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content%}
<header>
	<div class="container">
	    <div class="profile">
			<div class="row">
				<div class="col-md-6">
					<div class="profile-image">
						{% if pic %}
							{% for i in pic%}
								<img class="img-fluid rounded-circle" src="{{i.pic.url}}" alt="profile" style="height:40%; width:40%">
					</div>
				</div>
				<div class="col-md-6">
					<div class="profile-user-settings">
						<h1 class="profile-user-name">{{user}}</h1>
						<a href="{% url 'edit'%}"><button class="btn profile-edit-btn">Update Profile</button></a>
					</div>
					<div class="profile-bio">
						<p><span class="profile-real-name"><strong>Bio: </strong></span> {{i.bio}}</p>
					</div>
				{% endfor%}
            	{% else%}
					<div>
						<a href="{% url 'edit'%}"><button class="btn profile-edit-btn">Upload Profile</button></a>
						</p>
					</div>
				{% endif%}
				<br>
				<div>
					<a class="animated fadeIn alert alert-info" href="{% url 'upload'%}">Upload photos</a>
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<div class="container">
		<div class="row">
			<div class="col=md-4">
				<div class="gallery">
					{% if profile %}
						{% for photo in profile%}
							<div class="gallery-item" tabindex="0">
								<img src="{{photo.image.url}}" class="gallery-image" alt="" style="height:45%; width:45%">
								<div class="gallery-item-info">
									<ul>
									<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>{{photo.likes}}</li><a class="animated fadeIn alert alert-info" href="{% url 'upload'%}">Upload photos
							</div>
						{% endfor %}
					{% endif%}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock%}