{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if name %}
  <title>Gram- {{name}}</title>
  {% else %}
    <title> Gram </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {% endblock %}

</head>
<body style="height: 100vh; background-image: linear-gradient(to right top, #d16ba5, #eb6880, #f07456, #de8c2b, #b7a600, #9ab81d, #73c741, #28d569, #00e092, #00eab7, #33f3d7, #5ffbf1); background-repeat:repeat-x;">
  {% block content %}
    {% include 'navbar.html'%}

  {% endblock %}
  {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
  {% endblock %}
</body>
</html>
